
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Iris Species Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head> 

<body background="https://cdn.miscellaneoushi.com/1920x1080/20121018/purple%20flowers%20irises%201920x1080%20wallpaper_www.miscellaneoushi.com_96.jpg">
 <div class="login">
	<h1 style="text-align:center">Iris Species Prediction</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
	<h3 style="text-align:center;">Sepal Length</h3>
	<p style="text-align:center;"><input type="number" name="sepal_length" min="4.3" max= "7.9" required="required" /></p>

	<h3 style="text-align:center;">Sepal Width</h3>
        <p style="text-align:center;"><input type="number" name="sepal_width" min="2" max= "4.4"  required="required" /></p>

	<h3 style="text-align:center;">Petal Length</h3>
	<p style="text-align:center;"><input type="number" name="petal_length" min="1.0" max= "6.9"  required="required" /></p>

	<h3 style="text-align:center;">Petal Width</h3>
		<p style="text-align:center;"><input type="number" name="petal_width" min="0.1" max= "2.5" required="required" /></p>


	<h2 style="text-align:center;"></h2>	
        <p style="text-align:center;"><button type="submit" class="btn btn-primary btn-block btn-large">Predict Iris Species</button></p>
    </form>
   <h2 style="text-align:center;">{{ prediction_text }}</h2>

 </div>
</body>
</html>